html {
  background:  rgba(246, 229, 141,1.0);
  background-attachment: fixed;
  color: #6cacc5;
}

body {
  color: rgba(83, 92, 104,0.7);
  font: 300 18px/1.6 "Source Sans Pro",sans-serif;
  margin: 0;
  padding: 5em 0 2em;
  text-align: center;
}

h1 {
  font-weight: 300;
  margin: 0;
}


.calculator {
  font-size: 28px;
  margin: 0 auto;
  width: 10em;

  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}


.viewer {
  color: inherit;
  float: left;
  line-height: 3em;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 7.5em;
  height: 3em;
}

button {
  border: 0;
  background: rgba(83, 92, 104,0.7);
  color: #ECF0F1;
  cursor: pointer;
  float: left;
  font: inherit;
  margin: 0.25em;
  width: 2em;
  height: 2em;
  transition: all 0.5s;
  border-radius: 15px;
  text-align: center;

  &:hover {
    background: #201e40;
  }



@media (min-width: 420px) {
  .calculator {
    width: 12em;
  }
  .viewer {
    width: 8.5em;
  }
  button {
    margin: 0.5em;
  }
}
